/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Alegreya';
  background-color: #EFE2BA;
  margin: 2rem;
  color: #232727;
}
@media (max-width: 500px) {
  html,
  body {
    max-width: 400px;
    margin: 1rem;
  }
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Alegreya';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 4rem;
  padding-bottom: 0.5rem;
  color: #F13C20;
}
@media (max-width: 500px) {
  h2 {
    font-size: 3rem;
    padding: 1rem;
    padding-bottom: 2rem;
  }
}
h4 {
  font-size: 2.5rem;
  padding: 1rem;
}
@media (max-width: 500px) {
  h4 {
    font-size: 2rem;
  }
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}
img {
  max-width: 100%;
  height: auto;
  padding: 2rem;
}
@media (max-width: 500px) {
  img {
    padding: 1.5rem;
  }
}
.wrap {
  max-width: 80%;
  padding-top: 2rem;
  margin: 0 auto;
  color: #232727;
}
@media (max-width: 500px) {
  .wrap {
    padding: 1rem;
    font-size: 2rem;
  }
}
.top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
  border-bottom: solid #4056A1;
}
@media (max-width: 500px) {
  .top-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
.top-nav .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.top-nav .nav-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 100%;
}
.top-nav nav,
.top-nav .login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
}
@media (max-width: 500px) {
  .top-nav nav,
  .top-nav .login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
.top-nav nav a,
.top-nav .login a {
  text-decoration: none;
  color: #232727;
  font-size: 2rem;
  padding: 3rem;
}
@media (max-width: 500px) {
  .top-nav nav a,
  .top-nav .login a {
    padding: 1rem;
  }
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-top: 1rem solid #4056A1;
  padding-top: 2rem;
}
@media (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
  }
}
footer a {
  text-decoration: none;
  color: #232727;
  font-size: 1rem;
  padding: 1rem;
}
@media (max-width: 500px) {
  footer a {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
  }
}
.features {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 80%;
}
@media (max-width: 500px) {
  .features {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    padding-top: 0;
    margin: 0 auto;
  }
}
.features .feature-img {
  width: 30%;
  padding: 2rem;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .features .feature-img {
    width: 80%;
    padding: 1rem;
    padding-top: 0;
  }
}
.features .feature-text {
  width: 60%;
  padding: 5rem;
  margin: 4rem;
  background-color: #C5CBE3;
  border-radius: 30px;
}
@media (max-width: 500px) {
  .features .feature-text {
    width: 80%;
    margin: 2rem;
    padding: 2rem;
    padding-top: 0;
  }
}
.team {
  width: 100%;
}
.team .person-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
  width: 80%;
}
@media (max-width: 500px) {
  .team .person-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    padding-top: 0;
  }
}
.team .person-flex .row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: space-evenly;
  flex-wrap: wrap;
  margin: 0rem auto;
  padding: 0rem;
  width: 100%;
}
@media (max-width: 500px) {
  .team .person-flex .row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: space-evenly;
  }
}
.team .person-flex .row .socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.team .person-flex .row .person-box {
  clear: both;
  margin: 2rem auto;
  max-width: 45%;
  background: #fff;
  border-radius: 1.5rem 0px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
@media (max-width: 500px) {
  .team .person-flex .row .person-box {
    max-width: 100%;
  }
}
.team .person-flex .row .name {
  background: #C5CBE3;
  height: 6rem;
  width: 100%;
  position: relative;
  left: -30px;
  top: -20px;
  float: left;
  box-shadow: 0px 0px 4px #4056A1;
  z-index: 100;
  font-size: 6rem;
}
@media (max-width: 500px) {
  .team .person-flex .row .name {
    max-width: 100%;
    height: 3rem;
    font-size: 1.5rem;
  }
}
.team .person-flex .row .info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 100%;
  padding: 1rem;
}
.team .person-flex .row .info p {
  padding: 0.5rem;
}
.team .person-flex .row .info img {
  max-width: 150px;
}
